.column {
  padding: 2em;
}
nav
{
  padding: .5em;
}
nav ul
{
  display: flex;
  gap: 1em;
}

/* Temporary styling for the hero screen */
.hero {
  display: flex;
  padding-top: 10em;
}
.hero > * {
  flex: 1;
}
.hero img
{
  width: 60%;
}
footer {
  display: none;
}
